<h1>Edit your Review</h1>

<h3><%= @user_trail.trail.name %></h3>
<p><%=flash[:errors] %></p>

<%= form_for @user_trail do |f| %>
<%= f.hidden_field :user_id, value: @logged_in_user.id %>

<%= f.label :review %>
<%= f.text_area :review %><br><br>

<%= f.label :rating %>
<%= f.select :rating, (1..10).map %><br><br>

<%= f.submit "Submit Review"%>
<% end %>
