<h1><%= @trail.name %></h1>

<h2>Average Trail Rating:
<%= @trail.trail_rating%></h2>


<% if @logged_in_user %>
    <p><%= link_to "Add a Review", new_user_trail_path, style: "font-size: 24px"%></p>
    <p><%= flash[:errors] %></p>
    <%= form_for @list do |f| %>
    <%= f.hidden_field :user_id, value: @logged_in_user.id %>
    <%= f.hidden_field :trail_id, value: @trail.id %>
    <p><%= f.submit "Add to List" %></p>
    <% end %>
<% end %>


<p>Description: <%= @trail.description %></p>
<p>Miles: <%= @trail.miles %></p>
<p>National Park: <%= @trail.national_park.name %>, State: <%= @trail.national_park.state %>

<% @trail.user_trails.each do |ut| %>
    <hr>
    <p>Hiker: <%= ut.user.full_name %></p>
    <p>Rating: <%= ut.rating %></p>
    <p>Review: <%= ut.review %></p>
    <% if @logged_in_user %>
        <% if @logged_in_user.id == ut.user_id %>
            <p><%= form_for ut, method: :delete, data: {confirm: "Are you sure?"} do |t|%></p>
                <p><%= t.submit "Delete Review" %></p>
                <p><%= link_to "Edit Your Review", edit_user_trail_path(ut) %></p>
            <% end %>
        <%end %>
    <% end %>
<% end %>
