<!DOCTYPE html>
<html>
  <head>
    <title>BackCountryTrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
          <p class="app-title">BackCountryTrails</p>
      </nav>
      <header>
          <% unless @logged_in %>
          <div class="container">
          <ul id= "header-ul">
              <li class="nav-bar"><%= link_to "Home", root_path %></li>
              <li class="nav-bar"><%= link_to "National Parks", national_parks_path %></li>
              <li class="nav-bar"><%= link_to "Trails", national_parks_path %></li>
              <li class="nav-bar"><%= link_to "Login", new_login_path %></li>
              <li class="nav-bar"><%= link_to "Sign Up", new_user_path %></li>

          </ul>
          </div>
          <% else %>
          <div class="logged-in-navbar">
            Hello, <%= @logged_in_user.username %><br>
            <%= link_to "National Parks", national_parks_path  %>
            <%= link_to "All Trails", trails_path  %>
            <%= link_to "Review a Trail", new_user_trail_path  %>
            <%= link_to "My Profile", user_path(@logged_in_user)  %>
            <%= form_tag "/login/#{ @logged_in_user.id }", method: :delete do %>
                <%= submit_tag "Log out" %>
            <% end %>
          <% end %>
          </div>
      </header>
    <%= yield %>
    </body>
</html>
