<!DOCTYPE html>
<html>
  <head>
    <title>HikerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p>Hiker App</p>
      <% unless @logged_in  %>
      <p><%= link_to "Login", new_login_path %></p>
      <p><%= link_to "Sign Up", new_user_path %></p>
      <% else %>
      Hello, <%= @logged_in_user.username %><br>
      <%= link_to "National Parks", national_parks_path  %>*
      <%= link_to "All Trails", trails_path  %>*
      <%= link_to "Review a Trail", new_user_trail_path  %>*
      <%= link_to "My Profile", @logged_in_user  %>
      <%= form_tag "/login/#{@logged_in_user.id}", method: :delete do %>
      <%= submit_tag "Logout" %>
      <% end %>
      <% end %>



    <%= yield %>
  </body>
</html>
